* {
    font-family: Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar {
    width: 13px;
}
  
::-webkit-scrollbar-thumb {
    border: 4px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    border-radius: 999px;
    background-color: rgba(107, 107, 107, 0.6);
}  

::-webkit-scrollbar-thumb:hover {
    border: 4px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    border-radius: 999px;
    background-color: #6b6b6b;
} 

@keyframes loading {
    25% {content: 'Loading Property Listings.'}
    50% {content: 'Loading Property Listings..'}
    75% {content: 'Loading Property Listings...'}
}

#splash-screen {
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #1a1a1a;
    z-index: 100;
    opacity: 100%;
}

#splash-screen.inactive {
    opacity: 0%;
    transition: 0.3s;
}

#splash-screen p {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 20px;
    font-size: large;
}

#splash-screen p::after {
    content: 'Loading Property Listings';
    animation: loading 3s infinite;
}

.loader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #e8e8e8;
    border-radius: 999px;
}

.loader .icon-splash-screen {
    filter: invert(15%);
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    padding: 20px;
}

img.icon {
    filter:invert(90%);
}

h2, p {
    margin: 0px 0px;
    color: #e8e8e8;
}

h3 {
    margin: 0px;
    color: #e8e8e8;
}

h3.title {
    margin: 10px 15px;
}

html {
    overflow-x: hidden;
    overflow-y: hidden;
}

body {
    margin: 0px;
    padding: 0px;
    height: 100vh;
    background-color: #1a1a1a;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 4em;
    background-color: #222222;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 60px;
    margin: 0px 15px;
    width: fit-content;
    color: #9b9b9b;
}

i.bi.bi-door-open-fill {
    padding: 0px;
    font-size: 1.5rem;
    color: #f1f1f1;
}

.search-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 2.8rem;
    width: 30%;
    margin: 10px;
    border-radius: 999px;
    background-color: #404040;
    transition: 0.1s;
}

.search-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px 10px;
}

.search-icon svg {
    height: 18px;
    color: #9b9b9b;
}

.search-bar input {
    border: none;
    outline: none;
    background-color: transparent;
    padding: 0px;
    width: 100%;
    height: 100%;
    font-size: 0.9rem;
    color: #9b9b9b;
}

.search-bar input::placeholder {
    color: #9b9b9b;
    font-size: 0.9rem;
}

.app-container {
    display: flex;
    flex-direction: row;
    height: 93vh;
    width: 100%;
}

.side-panel {
    display: flex;
    padding: 20px 10px 10px;
    flex-direction: column;
    min-width: 250px;
    background-color: #121212;
}

.side-panel-top i {
    display: none;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.side-panel h2 {
    margin: 0px 15px;
}

/* Content Container Code */

#content-loader {
    display: flex;
    position: absolute;
    justify-content: center;
    box-sizing: border-box;
    width: 85vw;
    height: 95vh;
    background-color: #1a1a1a;
    z-index: 10;
    opacity: 100%;
}

#content-loader.inactive {
    opacity: 0%;
    z-index: -10;
    transition: 0.2s;
}

#content-loader p {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 11;
}

#content-loader p:after {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    content: 'Loading';
    animation: loading 3s infinite;
}

.content-container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    overflow-y: scroll;
    scrollbar-width: thin;
}

.toggle-view-items {
    display: flex;
    flex-direction: column;
}

.toggle-searches {
    padding: 0px 0px 20px;
}

ul.toggle-view {
    display: flex;
    font-size: 0.8rem;
    flex-direction: row;
    height: fit-content;
    margin: 0px;
    padding: 5px;
    border-bottom: #222222 solid 1px;
}

ul.toggle-view li {
    cursor: pointer;
    padding: 8px;
    margin: 6px;
    background-color: #222222;
    border: #404040 solid 0.5px;
    border-radius: 4px;
}

ul.toggle-view li:hover {
    background-color: #e8e8e8;
    color: #121212;
}

ul.toggle-view li i {
    cursor: pointer;
    padding: 0px 8px 0px 0px;
}

ul.toggle-view li.toggle-menu {
    display: none;
}

li.sort-by-price :nth-child(2) {
    padding: 0px 0px 0px 5px;
}

.sorting-options {
    display: flex;
    flex-direction: row;
}

.sorting-options-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.sorting-options-toggle i {
    display: none;
}

.sort-by-price.ascending {
    margin-right: 0px;
    border-radius: 4px 0px 0px 4px;
    border-right: 1px solid #323232;
}

.sort-by-price.descending {
    margin-left: 0px;
    border-radius: 0px 4px 4px 0px;
}

.sort-by-price.descending i {
    padding: 0px 5px;
}

.sort-by-bedrooms.ascending {
    margin-right: 0px;
    border-radius: 4px 0px 0px 4px;
    border-right: 1px solid #323232;
}

.sort-by-bedrooms.descending {
    margin-left: 0px;
    border-radius: 0px 4px 4px 0px;
}

.sort-by-bedrooms.ascending:hover span img.icon {
    filter: invert(10%);
}

.sort-by-bedrooms.descending i {
    padding: 0px 5px;
}

ul {
    padding: 0px;
}

i {
    padding: 0px 10px 0px 0px;
}

ul li {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px 15px;
    list-style: none;
    color: #e8e8e8;
}

ul li:hover {
    background-color: #323232;
    cursor: pointer;
    border-radius: 4px;
}

/* Card Styles */

.house-card {
    display: flex;
    flex-direction: column;
    width: min-content;
    height: 400px;
    margin: 20px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 8px 24px;
    border-radius: 10px;
}

.house-card.hidden {
    display: none;
}

.house-card .description {
    display: none;
}

.house-card .image-container {
    position: relative;
    display: flex;
    height: 100%;
    width: 280px;
    overflow: hidden;
    border-radius: 10px 10px 0px 0px;
}

.house-card .image-container img {
    width: 100%;
}

.image-container .bookmark-icon {
    position: absolute;
    opacity: 0%;
    top: 15px;
    right: 10px;
    padding: 8px 10px;
    border-radius: 999px;
    color: #222222;
    background-color: white;
    cursor: pointer;
    transition: 0.1s;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 2px 6px;
}

.house-card:hover .bookmark-icon {
    opacity: 100%;
    transition: 0.2s;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 2px 6px;
}

.bookmark-icon:hover {
    color: white;
    background-color: #f93c3c;
    transition: 0.2s;
}

.bookmark-icon i.bi-suit-heart-fill.bookmark {
    font-size: 1.2rem;
    margin: 0px;
    padding: 0px;
}

i.bi-suit-heart-fill.bookmark {
    position: relative;
    top: 2px;
    height: 18px;
    width: 18px;
}

i.bi-suit-heart::before {
    height: 18px;
}

.image-container img {
    object-fit: cover;
}

.text-container {
    height: fit-content;
    flex-direction: column;
    justify-content: space-between;
    background-color: #222222;
    border-radius: 0px 0px 10px 10px;
}

.house-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 20px 15px 0px;
}

h2.price {
    font-weight: 300;
    font-size: 1.4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px 0px 0px 10px;
}

.house-details h3 {
    font-size: 1.1rem;
    word-wrap: break-word;
}

.house-details p {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.icon-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px 0px;
}

img.icon {
    width: 17px;
    height: 17px;
    padding-right: 10px;
}

.button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0px 10px;
    padding: 10px 0px;
}

button.view-property {
    background-color: rgb(79, 79, 221);
    border: none;
    padding: 10px 10px;
    border-radius: 5px;
    cursor: pointer;
}

button.view-property p {
    color: white;
}

/* Card List View Styles */

.house-card.list {
    display: flex;
    flex-direction: row;
    width: fit-content;
    height: 450px;
}

.house-card.list.hidden {
    display: none;
}

.house-card.list .image-container {
    display: flex;
    min-width: 450px;
    overflow: hidden;
    border-radius: 10px 0px 0px 10px;
}

.house-card.list .image-container img {
    height: 100%;
    width: auto;
    object-fit: contain;
}

.house-card.list .text-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    border-radius: 0px 10px 10px 0px;
}

.house-card.list .house-details h3 {
    font-size: 1.8rem;
}

.house-card.list .description {
    display: flex;
    flex-direction: column;
    margin: 0px 40px;
    height: 50%;
    max-width: 35em;
    overflow-y: scroll;
    background-color: #323232;
    padding: 10px;
    border-radius: 15px;
}

.house-card.list .description h2 {
    font-weight: 300;
    margin: 0px 0px 20px;
}

.house-card.list .house-details {
    margin: 40px 0px 20px 40px;
}

.house-card.list .icon-container {
    width: 250px;
}

.house-card.list .button-container {
    margin: 10px 20px 10px 40px;
}

/* Slider Styles */

.price-slider-container {
    padding: 0px 15px;
}

input#slider {
    -webkit-appearance: none;
    border-radius: 999px;
    width: 100%;
    height: 5px;
    margin: 20px 0px 0px;
    outline: none;
    cursor: pointer;
    filter: invert(85%);
    background: linear-gradient(to right, #1a1a1a 0%, #1a1a1a 50%, #c1c1c1 50%, #c1c1c1 100%);
}

#slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 14px;
    height: 14px;
    border-radius: 999px;
    background: #1a1a1a;
    cursor: pointer;
  }

.slider-value {
    margin: 10px 0px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    color: #e8e8e8;
}

#slider-value {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.complex-search-criteria {
    margin: 10px 0px;
}

.show-bookmarks {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#bookmark-count {
    font-size: 0.8rem;
    padding: 4px 8px;
    border-radius: 99px;
    background-color: #f93c3c;
    color: white;
}

.dim-background {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100vh;
    transition: 0.3s;
    z-index: -1;
}

.dim-background.visible {
    opacity: 0.7;
    position: absolute;
    width: 100%;
    height: 100vh;
    background: black;
    transition: 0.2s;
    z-index: 10;
}

.bookmarks-panel.visible {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-content: center;
    right: 0px;
    height: 100vh;
    background-color: #1a1a1a;
    width: 315px;
    z-index: 15;
}

.bookmarks-panel {
    display: none;
    position: absolute;
    flex-direction: column;
    align-content: center;
    height: 100%;
    background-color: #1a1a1a;
    width: 350px;
    z-index: 15;
}

.panel-top {
    display: flex;
    flex-direction: column;
    padding: 15px 15px;
}

.panel-top p {
    color: #6f6f6f;
    margin: 10px 15px;
}

.panel-top p.hidden {
    display: none;
}

.panel-top i {
    cursor: pointer;
}

.panel-title-and-close {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.panel-title-and-close i {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    font-size: 1.5rem;
    padding: 8px;
    border-radius: 999px;
    color: #9b9b9b;
}

.panel-title-and-close i:hover {
    background-color: #323232;
}

.saved-property-list {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-bottom: 20px;
    scrollbar-width: thin;
}

.bookmark-card {
    position: relative;
    margin: 20px 20px 5px;
    width: 270px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 8px 24px;
    border-radius: 8px;
    background-color: #222222;
}

.bookmark-card .image i.bi.bi-trash {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    color: #121212;
    background-color: white;
    padding: 0px;
    border-radius: 999px;
    position: absolute;
    right: 10px;
    top: 10px;
    height: 32px;
    width: 32px;
}

.bookmark-card .image i.bi.bi-trash:hover {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.2rem;
    position: absolute;
    border-radius: 999px;
    background-color: #f93c3c;
    color: white;
    cursor: pointer;
}

.bookmark-card .image {
    height: 200px;
    width: 270px;
    overflow: hidden;
    border-radius: 8px 8px 0px 0px;
}

.bookmark-card .image img {
    width: 300px;
    object-fit: contain;
}

h3.address {
    font-size: 1rem;
    font-weight: 400;
}

.bookmark-card .details {
    margin: 10px;
}

.bookmark-card .icon-container {
    margin: 15px 0px;
}

.bookmark-card .icon-container p {
    font-size: 0.9rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}

.bookmark-card .description {
    display: none;
}

.bookmark-card .button-container {
    margin: 0px;
    padding: 10px 0px 0px;
}

li.toggle-lighting-mode {
    transition: 0.2s;
    border-radius: 4px;
    background-color: transparent;
}

li.toggle-lighting-mode:hover {
    color: white;
    border-radius: 4px;
    transition: 0.2s;
    background-color: rgb(133, 208, 255);
}

.toggle-lighting-mode:hover i {
    color: #1a1a1a;
    padding: 0px;
    margin-right: 10px;
}

.toggle-lighting-mode:hover p {
    color: #1a1a1a;
}

.detailed-view-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
}

.detailed-view {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    height: fit-content;
    width: 75vw;
    background-color: #222222;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 2px 0px, rgba(0, 0, 0, 0.3) 0px 2px 6px 2px;
    border-radius: 10px;
    z-index: 100;
}

.first-content-wrapper {
    display: grid;
    grid-template-columns: 60% 1fr;
}

.detailed-image-container {
    display: flex;
    position: relative;
    flex-direction: column;
    padding: 35px 35px 35px 35px;
    overflow: hidden;
    height: 100%;
}

.detailed-image-container img {
    object-fit: contain;
    border-radius: 5px;
}

.first-content-wrapper .text-content {
    color: #e8e8e8;
    margin: 20px 20px 20px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.text-content .close-detailed-view {
    color: #d85d5d;
    background-color: transparent;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px #d85d5d solid;
    cursor: pointer;
    margin: 0px 10px;
}

.text-content .close-detailed-view:hover {
    color: white;
    background-color: #d85d5d;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px #d85d5d solid;
    cursor: pointer;
    margin: 0px 10px;
}

button.save-property {
    display: flex;
    position: absolute;
    right: 50px;
    top: 50px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: black;
    border-radius: 999px;
    border: none;
    padding: 8px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 2px 6px;
    transition: 0.1s;
}

button.save-property:hover {
    color: white;
    background-color: #f93c3c;
    transition: 0.1s;
    cursor: pointer;
}

button.save-property i {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-size: 1.3rem;
}

h1.price {
    font-size: 2.2rem;
    font-weight: 300;
    margin: 0px 10px 0px 0px;
}

.text-content .house-details {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 0px;
}

.home-status {
    display: flex;
    flex-direction: row;
}

.new-home {
    border: #84e8b1 solid 1px;
    color: #84e8b1;
    width: fit-content;
    font-size: 0.8rem;
    padding: 5px 10px;
    border-radius: 999px;
    margin: 0px 2px;
}

.recently-added {
    border: #d3d3d3 solid 1px;
    color: #d3d3d3;
    width: fit-content;
    font-size: 0.8rem;
    padding: 5px 12px;
    border-radius: 999px;
    margin: 0px 2px;
}

div:empty {
    display: none;
}

.text-content .description {
    border-radius: 10px;
    background-color: #323232;
    padding: 20px;
}

.text-content .description h2 {
    margin: 0px 0px 10px;
}

.text-content .icon-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.text-content .icon-container p {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 5px 10px;
}

.close-window i {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px;
    border-radius: 999px;
}

.close-window i:hover {
    padding: 8px;
    background-color: #404040;
    border-radius: 999px;
    cursor: pointer;
}

.detailed-view-button {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 20px 0px;
}

.detailed-view-button button {
    color: #e8e8e8;
}

/* Responsive Styles */

@media screen and (max-width: 1200px) {

    .house-card.list {
        display: flex;
        flex-direction: row;
        width: fit-content;
        height: 375px;
    }

    .house-card.list .image-container {
        display: flex;
        min-width: 375px;
        overflow: hidden;
        border-radius: 10px 0px 0px 10px;
    }

    .house-card.list .house-details {
        margin: 20px 20px 0px;
    }

    .house-card.list .description, .house-card.list .button-container {
        margin: 0px 20px;
    }
}

@media screen and (max-width: 1000px) {

    html {
        overflow-x: hidden;
        overflow-y: scroll;
    }

    ::-webkit-scrollbar {
        display: none;
    }

    .content-container {
        overflow-x: hidden;
        justify-content: space-evenly;
    }

    .app-container {
        overflow-x: hidden;
    }

    .search-bar {
        width: 45%;
        margin: 10px 15px;
    }

    li.grid-view span, li.sort-by-price span  {
        font-size: 0.8rem;
    }

    .side-panel {
        overflow-y: scroll;
        display: none;
        min-width: 220px;
    }

    .side-panel.active {
        display: flex;
        min-width: 220px;
    }

    .toggle-view-items {
        overflow-x: hidden;
    }

    ul.toggle-view {
        justify-content: space-between;
    }
    
    ul.toggle-view li.toggle-menu {
        display: flex;
        color: #9b9b9b;
        background-color: transparent;
        border: none;
    }

    .toggle-menu {
        border-radius: 999px;
    }

    .toggle-menu:hover {
        border-radius: 999px;
    }

    .sorting-options-toggle i {
        display: flex;
        color: #c1c1c1;
        padding: 8px;
        font-size: 1rem;
        border-radius: 999px;
        background-color: transparent;
        transition: 0.15s;
    }
    
    .sorting-options-toggle i.active {
        display: flex;
        padding: 8px;
        font-size: 1rem;
        color: #222222;
        border-radius: 999px;
        background-color: #f1f1f1;
        transition: 0.15s;
    }
    
    .sorting-options {
        display: flex;
        position: relative;
        flex-direction: row;
        transition: 0.3s all ease-in-out;
        overflow: scroll;
    }

    .sorting-options.hidden {
        display: flex;
        position: relative;
        flex-direction: row;
        transform: translateX(100vw);
        transition: 0.3s all ease-in-out;
        overflow: scroll;
    }

    /* Detailed Card styles */

    .detailed-view {
        height: fit-content;
        width: 85vw;
    }

    .first-content-wrapper {
        display: flex;
        flex-direction: column;
    }

    .detailed-image-container {
        height: 400px;
        min-height: 300px;
        padding: 15px;
    }

    .first-content-wrapper .text-content {
        padding: 0px 15px;
        margin: 0px;
    }

    .text-content .close-detailed-view {
        margin: 0px;
    }

    .detailed-view-button {
        justify-content: space-between;
    }

    .text-content h1.address {
        font-size: 1.3rem;
    }

    .text-content .house-details h1.price {
        font-size: 1.5rem;
    }

    .new-home, .recently-added {
        font-size: 0.7rem;
        padding: 4px 9px;
    }

    .text-content .icon-container {
        margin: 10px 0px;
    }

    .text-content .description {
        padding: 15px;
        overflow-y: scroll;
    }

    .text-content .description h2 {
        font-size: 1.2rem;
    }

    .text-content .description p {
        font-size: 0.9rem;
    }

    /* House Card List Tablet */

    .house-card.list {
        width: 100%;
        height: 250px;
    }
    
    .house-card.list .image-container {
        min-width: 300px;
    }
    
    .house-card.list .house-details h3 {
        font-size: 1.2rem;
    }
    
    .house-card.list .description {
        display: flex;
        flex-direction: column;
        overflow-y: hidden;
        margin: 0px 15px;
        height: 50%;
        -webkit-mask-image: linear-gradient(to bottom, black 40%, transparent 100%);
        mask-image: linear-gradient(to bottom, black 40%, transparent 100%);
    }
    
    .house-card.list .description h2 {
        font-size: 1rem;
        margin: 0px 0px 10px;
    }
    
    .house-card.list .house-details {
        margin: 15px 15px 0px;
    }

    .home-status {
        margin: 0px 0px 10px;
    }
    
    .house-card.list .icon-container {
        margin: 10px 0px;
        width: 250px;
    }

    .house-card.list .text-container p {
        font-size: 0.8rem;
        line-height: 1.2rem;
    }
    
    .house-card.list .button-container {
        padding: 8px 0px;
        margin: 0px 15px;
    }

    .house-card.list .button-container button {
        padding: 6px 10px;
    }

    .house-card.list .button-container h2.price {
        margin: 0px;
    }

    /* Bookmarks */

    .image-container .bookmark-icon {
        opacity: 100%;
    }
}

@media screen and (max-width: 500px) {

    .logo {
        margin: 0px 5px;
    }

    .search-bar {
        width: 100%;
        height: 2.2rem;
        margin: 10px 10px;
    }

    .side-panel-top {
        display: flex;
        padding-bottom: 8px;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .side-panel-top i {
        display: flex;
        font-size: 1.4rem;
        padding: 6px;
        color: #9b9b9b;
    }

    .side-panel {
        display: none;
        min-width: 100vw;
        box-sizing: border-box;
    }

    .side-panel.active {
        display: flex;
        min-width: 100vw;
        box-sizing: border-box;
        padding: 10px;
    }

    .search-icon {
        margin: 10px;
    }

    .search-bar input::placeholder {
        font-size: 0.8rem;
        justify-self: center;
        align-self: center;
    }

    ul.toggle-view li {
        padding: 5px;
    }

    /* Detailed Card styles */

    .detailed-view {
        height: fit-content;
        width: 90vw;
    }

    .first-content-wrapper {
        display: flex;
        flex-direction: column;
    }

    .detailed-image-container {
        max-height: 30vh;
        height: fit-content;
        min-height: 150px;
        padding: 15px;
    }

    .first-content-wrapper .text-content {
        padding: 0px 15px;
        margin: 0px;
    }

    /* House Card Mobile */

    .house-card {
        width: 100%;
        margin: 7px 7px 14px;
        height: 400px;
        box-sizing: border-box;
    }

    .house-card .text-container h3 {
        font-size: 1.2rem;
    }

    .house-card .icon-container p {
        font-size: 0.8rem;
    }

    .home-status {
        margin: 0px;
    }

    .house-card .image-container {
        width: 100%;
    }

    .house-card .image-container img {
        width: 100%;
    }

    .house-card .icon-container {
        margin: 15px 35% 15px 0px;
    }

    /* House Card List Mobile */

    .content-container {
        justify-content: center;
        padding: 10px;
    }

    .house-card.list {
        width: 100%;
        margin: 8px 0px;
        height: 130px;
        border-radius: 5px;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px, rgba(0, 0, 0, 0.1) 0px 2px 6px 2px;
    }
    
    .house-card.list .image-container {
        min-width: 125px;
        width: 60%;
        border-radius: 5px 0px 0px 5px;
    }

    .house-card.list .image-container img {
        height: 100%;
        width: auto;
    }
    
    .house-card.list .house-details h3 {
        font-size: 0.9rem;
    }
    
    .house-card.list .description {
        display: none;
    }
    
    .house-card.list .house-details {
        margin: 8px 12px 0px;
    }
    
    .house-card.list .icon-container {
        margin: 10px 0px;
        width: 100%;
    }

    .house-card.list .new-home, .house-card.list .recently-added {
        padding: 0px 10px;
    }

    .house-card.list .text-container {
        width: 100%;
        line-height: 1.2rem;
    }
    
    .house-card.list .button-container {
        padding: 8px 0px;
        margin: 0px 12px;
    }

    .house-card.list .button-container button {
        padding: 3px 8px;
        border-radius: 4px;
    }

    .house-card.list .button-container h2.price {
        font-size: 1rem;
        margin: 0px;
    }

    /* Bookmarks */

    .bookmarks-panel .panel-top {
        padding: 5px;
    }

    .image-container .bookmark-icon {
        opacity: 100%;
        padding: 5px 7px;
    }

}