* {
    font-family: Arial, Helvetica, sans-serif;
}

img.icon {
    filter:invert(60%);
}

h2, p {
    margin: 0px 0px;
    color: #9b9b9b;
}

h3 {
    margin: 0px;
    color: #9b9b9b;
}

h3.title {
    margin: 10px 15px;
}

html {
    overflow-x: hidden;
}

body {
    margin: 0px;
    padding: 0px;
    height: 100vh;
    background-color: #1a1a1a;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: #323232 solid 1px;
    height: 3em;
    background-color: #1e1e1e;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 60px;
    margin: 0px 15px;
    width: fit-content;
    color: #9b9b9b;
}

i.bi.bi-door-open-fill {
    padding: 0px;
    font-size: 1.5rem;
    color: #6f6f6f;
}

.search-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 30%;
    height: 2rem;
    margin: 15px;
    border-radius: 999px;
    background-color: #323232;
}

.search-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px 10px;
}

.search-icon svg {
    height: 18px;
    color: #6f6f6f;
}

.search-bar input {
    border: none;
    outline: none;
    background-color: transparent;
    padding: 0px;
    width: 100%;
    font-size: 0.9rem;
    color: #9b9b9b;
}

.search-bar input::placeholder {
    font-size: 0.9rem;
}

.app-container {
    display: flex;
    flex-direction: row;
    height: 94vh;
    width: 100%;
}

.side-panel {
    display: flex;
    padding: 20px 10px 10px;
    flex-direction: column;
    min-width: 250px;
    border-right: #323232 1px solid;
}

.side-panel-top i {
    display: none;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.side-panel h2 {
    margin: 0px 15px;
}

.content-container {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    overflow-y: scroll;
}

.toggle-view-items {
    display: flex;
    flex-direction: column;
    width: 100vw;
}

.toggle-searches {
    padding: 0px 0px 20px;
    border-bottom: #323232 1px solid;
}

ul.toggle-view {
    display: flex;
    flex-direction: row;
    border-bottom: #323232 1px solid;
    margin: 0px;
    padding: 5px;
}

ul.toggle-view li {
    cursor: pointer;
    padding: 10px 10px;
    margin: 0px;
}

ul.toggle-view li i {
    cursor: pointer;
    padding: 0px 8px 0px 0px;
}

ul.toggle-view li.toggle-menu {
    display: none;
}

li.sort-by-price :nth-child(2) {
    padding: 0px 0px 0px 5px;
}

.sorting-options {
    display: flex;
    flex-direction: row;
}

ul {
    padding: 0px;
}

i {
    padding: 0px 10px 0px 0px;
}

ul li {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px 15px;
    list-style: none;
    color: #9b9b9b;
}

ul li:hover {
    background-color: #323232;
    cursor: pointer;
    border-radius: 10px;
}

/* Card Styles */

.house-card {
    display: flex;
    flex-direction: column;
    width: min-content;
    height: 400px;
    margin: 20px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 8px 24px;
    border-radius: 10px;
}

.house-card.hidden {
    display: none;
}

.house-card .description {
    display: none;
}

.house-card .image-container {
    position: relative;
    display: flex;
    height: 100%;
    width: 300px;
    overflow: hidden;
    border-radius: 10px 10px 0px 0px;
}

.house-card .image-container img {
    width: 100%;
}

.image-container .bookmark-icon {
    position: absolute;
    opacity: 0%;
    top: 15px;
    right: 10px;
    padding: 8px 10px;
    border-radius: 999px;
    color: #222222;
    background-color: white;
    cursor: pointer;
    transition: 0.1s;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 2px 6px;
}

.house-card:hover .bookmark-icon {
    opacity: 100%;
    transition: 0.2s;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 2px 6px;
}

.bookmark-icon:hover {
    color: white;
    background-color: #f93c3c;
    transition: 0.2s;
}

.bookmark-icon i.bi-suit-heart-fill.bookmark {
    font-size: 1.2rem;
    margin: 0px;
    padding: 0px;
}

i.bi-suit-heart-fill.bookmark {
    position: relative;
    top: 2px;
    height: 18px;
    width: 18px;
}

i.bi-suit-heart::before {
    height: 18px;
}

.image-container img {
    object-fit: cover;
}

.text-container {
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #222222;
    border-radius: 0px 0px 10px 10px;
}

.house-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 20px 15px 0px;
}

h2.price {
    font-weight: 300;
    font-size: 1.4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px 0px 0px 10px;
}

.house-details h3 {
    font-size: 1.1rem;
    word-wrap: break-word;
}

.house-details p {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.icon-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px 0px;
}

img.icon {
    width: 17px;
    height: 17px;
    padding-right: 10px;
}

.button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0px 10px;
    padding: 10px 0px;
    border-top: #404040 solid 1px;
}

button.view-property {
    background-color: rgb(79, 79, 221);
    border: none;
    padding: 10px 10px;
    border-radius: 5px;
}

button.view-property p {
    color: white;
}

/* Card List View Styles */

.house-card.list {
    display: flex;
    flex-direction: row;
    width: fit-content;
    height: 450px;
}

.house-card.list.hidden {
    display: none;
}

.house-card.list .image-container {
    display: flex;
    min-width: 450px;
    overflow: hidden;
    border-radius: 10px 0px 0px 10px;
}

.house-card.list .image-container img {
    height: 100%;
    width: auto;
    object-fit: contain;
}

.house-card.list .text-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    border-radius: 0px 10px 10px 0px;
}

.house-card.list .house-details h3 {
    font-size: 1.8rem;
}

.house-card.list .description {
    display: flex;
    flex-direction: column;
    margin: 0px 40px;
    height: 100%;
    max-width: 35em;
    overflow-y: scroll;
    -webkit-mask-image: linear-gradient(to bottom, black 40%, transparent 100%);
    mask-image: linear-gradient(to bottom, black 40%, transparent 100%);
    border-top: #404040 solid 1px;
}

.house-card.list .description h2 {
    margin: 20px 0px;
}

.house-card.list .house-details {
    margin: 40px 0px 20px 40px;
}

.house-card.list .icon-container {
    width: 250px;
}

.house-card.list .button-container {
    margin: 0px 40px 0px 40px;
}

/* Slider Styles */

.price-slider-container {
    padding: 0px 15px;
}

input#slider {
    -webkit-appearance: none;
    border-radius: 999px;
    width: 100%;
    height: 5px;
    margin: 20px 0px 0px;
    outline: none;
    cursor: pointer;
    filter: invert(70%);
    background: linear-gradient(to right, #1a1a1a 0%, #1a1a1a 50%, #e8e8e8 50%, #e8e8e8 100%);
}

#slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 14px;
    height: 14px;
    border-radius: 999px;
    background: #1a1a1a;
    cursor: pointer;
  }

.slider-value {
    margin: 10px 0px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    color: #9b9b9b;
}

#slider-value {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.complex-search-criteria {
    margin: 10px 0px;
    border-top: #323232 solid 1px;
}

.show-bookmarks {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#bookmark-count {
    font-size: 0.8rem;
    padding: 4px 8px;
    border-radius: 99px;
    background-color: #f93c3c;
    color: white;
}

.dim-background {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100vh;
    transition: 0.3s;
    z-index: -1;
}

.dim-background.visible {
    opacity: 0.7;
    position: absolute;
    width: 100%;
    height: 100vh;
    background: black;
    transition: 0.2s;
    z-index: 10;
}

.bookmarks-panel.visible {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-content: center;
    border-left: #323232 solid 1px;
    right: 0px;
    height: 100vh;
    background-color: #1a1a1a;
    width: 315px;
    z-index: 15;
}

.bookmarks-panel {
    display: none;
    position: absolute;
    flex-direction: column;
    align-content: center;
    border-left: #323232 solid 1px;
    height: 100%;
    background-color: #1a1a1a;
    width: 350px;
    z-index: 15;
}

.panel-top {
    display: flex;
    flex-direction: column;
    padding: 15px 15px;
    border-bottom: #323232 solid 1px;
}

.panel-top p {
    color: #6f6f6f;
    margin: 10px 15px;
}

.panel-top p.hidden {
    display: none;
}

.panel-top i {
    cursor: pointer;
}

.panel-title-and-close {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.panel-title-and-close i {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    font-size: 1.5rem;
    padding: 8px;
    border-radius: 999px;
    color: #9b9b9b;
}

.panel-title-and-close i:hover {
    background-color: #323232;
}

.saved-property-list {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    overflow-y: scroll;
    padding-bottom: 20px;
}

.bookmark-card {
    position: relative;
    margin: 20px 20px 5px;
    width: 270px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 8px 24px;
    border-radius: 8px;
}

.bookmark-card .image i.bi.bi-x {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 2rem;
    color: #9b9b9b;
    background-color: #1a1a1a;
    padding: 0px;
    border-radius: 999px;
    position: absolute;
    right: 10px;
    top: 10px;
    height: 32px;
    width: 32px;
}

.bookmark-card .image i.bi.bi-x:hover {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 2rem;
    position: absolute;
    border-radius: 999px;
    background-color: #f93c3c;
    color: white;
    cursor: pointer;
}

.bookmark-card .image {
    height: 200px;
    width: 270px;
    overflow: hidden;
    border-radius: 8px 8px 0px 0px;
}

.bookmark-card .image img {
    width: 300px;
    object-fit: contain;
}

h3.address {
    font-size: 1rem;
    font-weight: 400;
}

.bookmark-card .details {
    margin: 10px;
}

.bookmark-card .icon-container {
    margin: 15px 0px;
}

.bookmark-card .icon-container p {
    font-size: 0.9rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}

.bookmark-card .button-container {
    margin: 0px;
    padding: 10px 0px 0px;
}

li.toggle-lighting-mode {
    transition: 0.2s;
    border-radius: 10px;
    background-color: transparent;
}

li.toggle-lighting-mode:hover {
    color: white;
    border-radius: 10px;
    transition: 0.2s;
    background-color: rgb(133, 208, 255);
}

.toggle-lighting-mode:hover i {
    color: #1a1a1a;
    padding: 0px;
    margin-right: 10px;
}

.toggle-lighting-mode:hover p {
    color: #1a1a1a;
}

/* Skeleton Card */

.skeleton-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 400px;
    width: 300px;
    margin: 20px;
    border-radius: 10px;
    background-color: #1e1e1e;
    border: #6f6f6f solid 1px;
}

.skeleton-card-image {
    display: flex;
    position: relative;
    height: 63%;
    width: 300px;
    background-color: #6f6f6f;
    border-radius: 9px 9px 0px 0px;
}

.skeleton-card-bookmark {
    display: flex;
    height: 40px;
    width: 40px;
    border-radius: 999px;
    background-color: #9b9b9b;
    position: absolute;
    right: 15px;
    top: 15px;
}

.skeleton-card-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 155px;
    background-color: #323232;
    border-radius: 0px 0px 10px 10px;
}

.skeleton-card-text {
    height: 15px;
    box-sizing: border-box;
    margin: 20px 20px 0px;
    background-color: #404040;
    border-radius: 999px;
}

.skeleton-card-button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    margin: 0px 10px 15px;
    padding: 5px 0px 0px;
    border-top: #404040 solid 1px;
}

.skeleton-card-price {
    height: 25px;
    width: 50%;
    box-sizing: border-box;
    margin: 10px 20px 0px 10px;
    background-color: #404040;
    border-radius: 999px;
}

.skeleton-card-button {
    height: 25px;
    width: 40%;
    box-sizing: border-box;
    margin: 10px 10px 0px 20px;
    background-color: #404040;
    border-radius: 999px;
}

/* Skeleton Card */

@media screen and (max-width: 1200px) {

    .house-card.list {
        display: flex;
        flex-direction: row;
        width: fit-content;
        height: 375px;
    }

    .house-card.list .image-container {
        display: flex;
        min-width: 375px;
        overflow: hidden;
        border-radius: 10px 0px 0px 10px;
    }

    .house-card.list .house-details {
        margin: 20px 20px 0px;
    }

    .house-card.list .description, .house-card.list .button-container {
        margin: 0px 20px;
    }
}

@media screen and (max-width: 1000px) {

    .content-container {
        overflow-x: hidden;
        justify-content: space-evenly;
    }

    .app-container {
        overflow-x: hidden;
    }

    .search-bar {
        width: 45%;
        margin: 10px 15px;
    }

    li.grid-view span, li.sort-by-price span  {
        font-size: 0.8rem;
    }

    .side-panel {
        overflow-y: scroll;
        display: none;
        min-width: 220px;
    }

    .side-panel.active {
        display: flex;
        min-width: 220px;
    }

    .toggle-view-items {
        overflow-x: scroll;
    }

    ul.toggle-view {
        justify-content: space-between;
    }
    

    ul.toggle-view li.toggle-menu {
        display: flex;
    }

    .toggle-menu {
        border-radius: 999px;
    }

    .toggle-menu:hover {
        border-radius: 999px;
    }

    /* House Card List Tablet */

    .house-card.list {
        width: 100%;
        height: 250px;
    }
    
    .house-card.list .image-container {
        min-width: 300px;
    }
    
    .house-card.list .house-details h3 {
        font-size: 1.2rem;
    }
    
    .house-card.list .description {
        display: flex;
        flex-direction: column;
        overflow-y: hidden;
        margin: 0px 15px;
        height: 100%;
        -webkit-mask-image: linear-gradient(to bottom, black 40%, transparent 100%);
        mask-image: linear-gradient(to bottom, black 40%, transparent 100%);
    }
    
    .house-card.list .description h2 {
        font-size: 1rem;
        margin: 10px 0px;
    }
    
    .house-card.list .house-details {
        margin: 15px 15px 0px;
    }
    
    .house-card.list .icon-container {
        margin: 10px 0px;
        width: 250px;
    }

    .house-card.list .text-container p {
        font-size: 0.8rem;
        line-height: 1.2rem;
    }
    
    .house-card.list .button-container {
        padding: 8px 0px;
        margin: 0px 15px;
    }

    .house-card.list .button-container button {
        padding: 6px 10px;
    }

    .house-card.list .button-container h2.price {
        margin: 0px;
    }

    /* Bookmarks */

    .image-container .bookmark-icon {
        opacity: 100%;
    }
}

@media screen and (max-width: 500px) {

    .logo {
        margin: 0px 5px;
    }

    .search-bar {
        width: 100%;
        margin: 10px 10px;
    }

    .side-panel-top {
        display: flex;
        padding-bottom: 8px;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        border-bottom: #323232 1px solid;
    }

    .side-panel-top i {
        display: flex;
        font-size: 1.4rem;
        padding: 6px;
        color: #9b9b9b;
    }

    .side-panel {
        display: none;
        min-width: 100vw;
        box-sizing: border-box;
    }

    .side-panel.active {
        display: flex;
        min-width: 100vw;
        box-sizing: border-box;
        padding: 10px;
    }

    ul.toggle-view li {
        padding: 5px;
    }

    /* House Card Mobile */

    .house-card {
        width: 100%;
        margin: 7px 7px 14px;
        height: 400px;
        box-sizing: border-box;
    }

    .house-card .text-container h3 {
        font-size: 1.2rem;
    }

    .house-card .icon-container p {
        font-size: 0.8rem;
    }

    .house-card .image-container {
        width: 100%;
    }

    .house-card .image-container img {
        width: 100%;
    }

    .house-card .icon-container {
        margin: 15px 35% 15px 0px;
    }

    /* House Card List Mobile */

    .content-container {
        justify-content: center;
        padding: 10px;
    }

    .house-card.list {
        width: 100%;
        margin: 8px 0px;
        height: 125px;
        border-radius: 5px;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px, rgba(0, 0, 0, 0.1) 0px 2px 6px 2px;
    }
    
    .house-card.list .image-container {
        min-width: 125px;
        width: 60%;
        border-radius: 5px 0px 0px 5px;
    }

    .house-card.list .image-container img {
        height: 100%;
        width: auto;
    }
    
    .house-card.list .house-details h3 {
        font-size: 0.9rem;
    }
    
    .house-card.list .description {
        display: none;
    }
    
    .house-card.list .house-details {
        margin: 8px 12px 0px;
    }
    
    .house-card.list .icon-container {
        margin: 10px 0px;
        width: 100%;
    }

    .house-card.list .text-container {
        width: 100%;
        line-height: 1.2rem;
    }
    
    .house-card.list .button-container {
        padding: 8px 0px;
        margin: 0px 12px;
    }

    .house-card.list .button-container button {
        padding: 3px 8px;
        border-radius: 4px;
    }

    .house-card.list .button-container h2.price {
        font-size: 1rem;
        margin: 0px;
    }

    /* Bookmarks */

    .bookmarks-panel .panel-top {
        padding: 5px;
    }

    .image-container .bookmark-icon {
        opacity: 100%;
        padding: 5px 7px;
    }

}